:root {
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
    --tomato: hsl(4, 100%, 67%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--charcoal-grey);
    color: var(--dark-slate-grey);
}

h1 {
    font-size: 3.5rem;
    margin: 30px 0;
}

p {
    margin-bottom: 20px;
}

.container {
    background-color: var(--white);
    padding: 20px;
    border-radius: 25px;
    margin: 80px auto;
    display: flex;
}

 #initial-form {
    width: 900px;
}

#sucess {
    width: 500px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-content: space-around;}

.sucess-img {
    width: 70px;
}


ul {
    margin: 30px 0;
    padding: 0;
}

li {
    list-style: none;
    background: url(./assets/images/icon-list.svg) no-repeat;
    padding: 3px 0 3px 30px;
    margin: 10px 0;
}

.left {
    padding: 0 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;

}

label {
    font-weight: 700;
    color: var(--dark-slate-grey);
    font-size: 13px;
}

input {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid var(--grey);
    margin: 10px 0;
}

.required {
    background-color: hsl(0, 100%, 89%);
    color: red;
    border: 1px solid red;
}

.e-required {
    float: right;
    color: red;
}

.user-email {
    font-weight: 700;
    white-space: nowrap;
}

.hidden {
    display: none !important;
}

button {
    color: var(--white);
    background-color: var(--dark-slate-grey);
    padding: 20px;
    border-radius: 10px;
    border: 0;
    font-weight: 700;
    margin: 10px 0;
}

button:hover {
    background-color: var(--tomato);
    cursor: pointer;
    box-shadow: 0 5px 30px var(--tomato);
}

.attribution {
    color: var(--white);
    text-align: center;
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 2.5rem;
    }

    ul {
        margin: 15px 0;
    }

    #initial-form {
        width: 100%;
    }

    #sucess {
    width: 100%;
height: 100vh;
padding: 30px;
padding-top: 150px;
justify-content: space-between;
}
    .container {
        flex-direction: column;
        border-radius: unset;
        width: 100%;
        padding: unset;
        margin: unset;
    }

    .left {
        order: 2;
        padding: 10px 25px;
        width: 100%;
    }
    .right img {
        content: url(./assets/images/illustration-sign-up-mobile.svg);
        order: 1;
    }
}



